version: "3.9"

services:
  php-fpm:
    build:
      context: ./docker/php-fpm
      args: 
        - USER_ID=${USER_ID_VALUE}
        - GROUP_ID=${GROUP_ID_VALUE}
    volumes:
      - ./www:/var/www/
    ports:
      - "9000"
    links:
      - mysql

  nginx:
    build: ./docker/nginx
    env_file:
      - ./docker/nginx/hosts.env
    volumes:
      - ./www:/var/www/
    ports:
      - "80"
    links:
      - "php-fpm:php"

  mysql:
    build: ./docker/mysql
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: mydb
      MYSQL_USER: myuser
      MYSQL_PASSWORD: password
    volumes:
      - ./data/mysql:/var/lib/mysql
